
<!-- This is page is used to show the news full deatiles -->

{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- full condent-->
<div id="fh5co-title-box" style="background-image: url(/media/{{news.image}}); background-position: 50% 90.5px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
       <!-- <img src="/media/{{news.image}}" alt="{{news.title}}"/> --> 
        <span>{{news.add_time}}</span>
        <h2>{{news.title}}</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                
                <h3>{{news.title}}</h3>
                <p></p><br>
                <p>
                   {{news.detail}}
                </p>

                <p>
                    Category : <a href="/category/{{news.category.id}}/{{news.category.title}}" class="fh5co_tagg">{{news.category}}</a>
                    
                </p>
                <p> 
                    Published At : {{news.add_time}}
                </p>
                
                
            </div>

            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    {% for data in sp_news %}
                    <a href="/category/{{data.id}}/{{data.title}}" class="fh5co_tagg">{{data.title}}</a>
                    {% endfor %}
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4"> Recent News</div>
                </div>
                
                {% for news in recnt_news%}
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <a href="/News/{{news.id}}/{{news.title}}">
                            <img src="/media/{{news.image}}" alt="{{news.title}}" class="fh5co_most_trading"/>
                        </a>
                    </div>
                    <div class="col-7 paddding">
                       
                        <div class="most_fh5co_treding_font"><a href="/News/{{news.id}}/{{news.title}}"> {{news.title}}</a></div>
                        <div class="most_fh5co_treding_font_123"> {{news.category}}</div>
                    </div>
                </div>
                {% endfor %}

                                 <!-- ad-->
                <!-- 1-->
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                    <div class="single-banner">
                        <a href="#">
                            <img src="{% static 'ecom_products/images/banner/1_4.jpg' %}" alt="Li's Static Banner">
                        </a>
                    </div>
                </div>
                <!--2-->
                <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                    <div class="single-banner">
                        <a href="#">
                            <img src="{% static 'ecom_products/images/banner/1_4.jpg' %}" alt="Li's Static Banner">
                        </a>
                    </div>
                </div>
                <!--3-->
                <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                    <div class="single-banner">
                        <a href="#">
                            <img src="{% static 'ecom_products/images/banner/1_4.jpg' %}" alt="Li's Static Banner">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- related news-->
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"> Related News </div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            {% for news in rel_news%}
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="/media/{{news.image}}" alt="{{news.title}}"/></div>
                    <div>
                        <a href="/News/{{news.id}}/{{news.title}}" class="d-block fh5co_small_post_heading"><span class="">{{news.title}}</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> {{news.add_time}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

{% endblock%}
